---
import Button from '@/components/Button.astro';
import Layout from '@/layouts/Layout.astro';
import Container from '@/components/Container.astro';
import Stack from '@/components/Stack.astro';
import Text from '@/components/Text.astro';
import Base from '@/layouts/Base.astro';
---

<Layout title="Welcome to Astro.">
  <Base>
    <main>
      <div>
        <header>
          <div class="">
            <Container>
              <div class="grid items-center py-6">
                <Stack>
                  <h2 class="text-std-20B-5">コンポーネント</h2>
                </Stack>
              </div>
            </Container>
          </div>
        </header>

        <!-- <GlobalNav current="/components" /> -->

        <!-- <Nav contentNav={contentNav} />-->

        <div class="pb-14">
          <Container>
            <Stack space="2xl">
              <Text> コンポーネントは、ユーザーインタフェースを作成するためのデザイン構成要素です。 </Text>
            </Stack>
            <Stack space="2xl" class="mt-2xl" />
          </Container>
        </div>
      </div>
    </main>
  </Base>
</Layout>

<style></style>
