---
import type { HTMLAttributes } from 'astro/types';
import { cva, cx, compose, peerFocusRing } from '@/lib/cva';
import type { VariantProps } from 'cva';

const radioVariants = cva({
  base: 'flex gap-2 items-center group transition',
  variants: {
    size: {
      sm: '[--size:19px] [--inner:9px] text-std-16N-7',
      md: '[--size:19px] [--inner:9px] text-std-16N-7',
      lg: '[--size:25px] [--inner:12px] text-std-17N-7',
    },
  },
  defaultVariants: {
    size: 'md',
  },
});

//export type Props = RequireSome<HTMLAttributes<"input">, "id" | "name"> & {
//label: string;
//};

const _boxVariants = cva({
  base: [
    'size-[--size] flex-shrink-0 rounded-full flex items-center justify-center border-2 transition pointer-events-none',
    // unchecked
    '[--color:theme(colors.solid-grey.900)]',
    'bg-white',
    'border-[--color]',
    // active
    'peer-active:[--color:theme(colors.black)]',
    // checked
    'peer-checked:[--color:theme(colors.blue.900)]',
    'peer-checked:peer-active:[--color:theme(colors.blue.1000)]',
    'peer-checked:border-[--color]',
    'peer-checked:before:block peer-checked:before:size-[--inner] peer-checked:before:rounded-full peer-checked:before:bg-[--color]',

    // disabled
    'peer-disabled:![--color:theme(colors.solid-grey.200)]',
    // invalid
    // 'peer-invalid:[--color:theme(colors.error-1)]',
    'group-data-[invalid="true"]:![--color:theme(colors.error-1)]',
  ],
  variants: {},
});
const boxVariants = compose(peerFocusRing, _boxVariants);

const inputVariants = cva({
  base: ['peer', 'size-[--size] absolute appearance-none opacity-0'],
});

export interface Props extends Omit<HTMLAttributes<'input'>, 'size'>, VariantProps<typeof radioVariants> {
  invalid?: boolean;
  indeterminate?: 'true';
}

/**
 * For Astro components, we recommend setting your defaultVariants within
 * Astro.props (which are `undefined` by default)
 */
const { id, name, class: className, size, invalid, ...attrs } = Astro.props;
const hasDefaultSlot = Astro.slots.has('default');
const dataInvalid = invalid ? 'true' : undefined;
const Wrapper = hasDefaultSlot ? 'label' : 'span';
---

<Wrapper class={cx(radioVariants({ size, class: [className] }))} data-invalid={dataInvalid}>
  <input type="radio" id={id} name={name} class={cx(inputVariants({}))} {...attrs} />
  <span class={cx(boxVariants({}))}> </span>
  {
    hasDefaultSlot && (
      <span
        class={cx([
          '[--color:text-solid-grey-800] text-[--color]',
          // disabled
          'peer-disabled:[--color:text-solid-grey-600]',
          // invalid
          // 'peer-invalid:[--color:theme(colors.error-1)]',
          'group-data-[invalid="true"]:[--color:theme(colors.error-1)]',
        ])}
      >
        <slot />
      </span>
    )
  }
</Wrapper>
