---
import type { HTMLAttributes } from 'astro/types'
import { cva, cx, compose } from '@/lib/cva'
import type { VariantProps } from 'cva'

export const _textVariants = cva({
  base: [],
  variants: {},
  defaultVariants: {},
})

const textVariants = compose(_textVariants)

export interface Props extends HTMLAttributes<'p'>, VariantProps<typeof textVariants> {}

/**
 * For Astro components, we recommend setting your defaultVariants within
 * Astro.props (which are `undefined` by default)
 */
const { class: className } = Astro.props
---

<p class={cx(textVariants({ class: className }))}>
  <slot />
</p>
