<div class="grid grid-cols-[auto_1fr]">
  <aside class="w-48 py-8 px-4">
    <h2 class="text-std-24B-5">Components</h2>
    <ul>
      <li>
        <a href="/components/button">Button</a>
      </li>
      <li>
        <a href="/components/checkbox">Checkbox</a>
      </li>
    </ul>
  </aside>
  <div class="pt-8">
    <slot />
  </div>
</div>
