---
import Link from '@/components/Link.astro';
import Menu from '@/pages/_components/Menu.astro';
---

<div class="grid grid-cols-[auto_1fr]">
  <aside class="w-64 py-8 px-4 border-r min-h-screen">
    <Menu />
  </aside>
  <div class="pt-8">
    <slot />
  </div>
</div>
